* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #293a22;
    font-family: 'Roboto', sans-serif;
}

/* Paleta de colores*/
.color1 {color: #172b1a;}
.color2 {color: #293a22;}
.color3 {color: #3a552b;}
.color4 {color: #59723d;}
.color5 {color: #849d4f;}
.color6 {color: #97b35a;}
.color-acento {
    color: #afe045;
}

h1{font-size: 3rem; color: #fff}
h2{font-size: 2.50rem; color: #afe045; text-align: center;}
h3{font-size: 2rem;}
h4{font-size: 1.5em;}
h5{font-size: 1.1em;}
h1, h2, h3, h4, h5 { line-height: 1.1em;}
a {text-decoration: none; color: #dddddd;}
p {font-size: 1.7em; line-height: 1.2em;}
ul {list-style: none;}
input{background-color: #3a552b; color: #f1f1f1;font-family: 'Roboto', sans-serif;}
textarea{background-color: #3a552b; color: #f1f1f1;font-family: 'Roboto', sans-serif;}

/* Diseño boton volver a inicio */
.btn {
    border-radius: 5px;
    box-shadow: inset #000000 0px 0px 5px 1px;
    background-color: #293a22;
    border: 1px solid #afe045;
    margin: 5px;
}
.btn a {
    color: #dddddd;
}
/* Diseño boton volver a inicio */


/* Inicio Diseño de botones */
button {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 5px;
    text-align: center;
}
button a {
    color: #000000;
    font-size: 1em;
}
button a i {
    margin-right: 5px;
}
/* Fin Diseño de botones */

/* Pagina activa actualmente en nuestro NAV */
.active {
    border-radius: 5px;
    box-shadow: inset #000000 0px 0px 5px 1px;
    background-color: #293a22;
    border: 1px solid #afe045;
    color: #ffffff; 
}
/* Pagina activa actualmente en nuestro NAV */



/* Inicio Header + NAV */
 .header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: #172b1a;    
}

.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: .5s;
}

.container__logo-img {
    width: 90px;
    height: 90px;
    padding: 5px;
}

.menu li {
    list-style-type: none;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    font-size: 18px;
    line-height: 1;
    transition: .3s;
}
.menu li a:hover {
    border-bottom: #afe045 solid 1px;
    border-radius: 5px;

}

.hamburguesa {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #fff;
    cursor: pointer;
    z-index: 2;
    transition: .3s;
}

.hamburguesa:before, 
.hamburguesa:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    transition: .3s;
}

.hamburguesa:before {
    top: -10px;
    width: 20px;
}
.hamburguesa:after {
    top: 10px;
    width: 20px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburguesa,
.toggle-menu {
    display: none;
}

.navigation input:checked ~ .hamburguesa{
    background-color: transparent;
}

.navigation input:checked ~ .hamburguesa::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburguesa::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~ .menu {
    right: 0;
}

@media screen and (max-width: 992px) {
    
    .hamburguesa,.toggle-menu {
    display: block;
    }

    .header {
        padding: 10px 20px;

    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #172b1a;
        height: 100%;
        padding-top: 120px;
        width: 300px;

    }
    .menu li {
        width: 100%;
    }
    .menu li a, 
    .menu li a:hover{
        padding: 20px;
        font-size: 1.7em;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    }
} 

/* Fin Header + NAV */

.header{
    grid-area: header;
}
.main {
    grid-area: main;
    height: 50vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/header/background.jpg);
    background-repeat: norepeat;
    background-position: center;
    background-size: cover;
    text-align: center;    
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main h1 {
    color: #afe045;
}


.section1{
    grid-area: section1;}
.section2{
    grid-area: section2;}
.section3{
    grid-area: section3;}
.footer{
    grid-area: footer;}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "section1"
    "section2"
    "section3"
    "footer";
}

@media screen and (min-width:992px) {
    .container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "header header header"
        "main main main"
        "section1 section1 section2"
        "section3 section3 section3"
        "footer footer footer";
    }
}


.section1 {
    padding: 10px;    
    background:linear-gradient(to top, #172b1a,#97b35a);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid white;
}

.boton {
    border-radius: 20px;
    box-shadow: inset #000000 0px 0px 5px 1px;
    background-color: #293a22;
    border: 1px solid #afe045;
    color: #ffffff; 
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background:linear-gradient(to bottom, #172b1a,#849d4f); 
    border-radius: 5px;
    box-shadow: inset #000000 0px 0px 5px 1px;
    background-color: #293a22;
    border: 1px solid #afe045;
    color: #ffffff; 
    
    gap: 10px;
}
.section2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.section3 {
    height: 50vh;    
    gap: 10px;
    background-image: linear-gradient(0deg, rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../img/catalogo/fertilizantes.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}





/* Inicio section de página Reprocann.html */
#heroReprocann{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    color: #ffffff;
    background-image: url("../img/catalogo/reprocann.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main section h2 , p {
    text-align: center;
    padding: 5px 0px;
    color: #dddddd;
}

#galeriaFotos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#galeriaFotos p {    
    border-radius: 5px;
    box-shadow: inset #000000 0px 0px 5px 1px;
    background-color: #293a22;
    border: 1px solid #afe045; 
    padding: 5px;
}

.galeria {
    margin: 10px 10px;
    box-shadow: 0px 4px 10px 0 #afe045;
    width:33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.galeria img {
    width: 100%;
}

.pie {
    text-align: center;
    padding: 5px;
} 

.pie li {
    margin: 5px;
    color: #ffffff;
    font-size: 1.2em;
}

.pie a {
    color: #849d4f;
}
/* Cierre section de página Reprocann.html */

/* Inicio section de pagina Tablas.html */

/* Tabla de Cultivos */
table {
    width: 100%;
}

table  td {
    padding: 10px;
    color: #f1f1f1;
}

table, td {
    border: 2px solid #afe045;
    text-align: center;
    border-collapse: collapse;
}
table a {
    font-size: 1.5em;
    padding: 5px;
}

table a:hover {
    color: #afe045;
    border-radius: 5px;
    border: #000000 2px solid;
}
table h1 {
    color: #f8f8f8;
    padding: 5px;
}
/* Tabla de Cultivos */

/* Inicio Tabla Azteka Seccion  */

#tabla__img-header img {
    width: 100%;
    height: 90vh;
    margin-bottom: 50px;
}

.container__tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__tabla img {
    width: 100%;
    height: 400px;
    object-fit:scale-down
}

.tabla__caracteristicas {
    background-color: #293a22;
}

.tabla__caracteristicas h3{ 
    padding: 5px 5px;
    text-align: center;
}

.tabla__caracteristicas p{ 
    color: #dddddd;
    padding: 5px 5px;
    text-align: center;
    margin: 0 50px;
    line-height: 2em;
}

.azteka { color: #ba0c19; font-size: 3em}
.kawsay { color: #9b5d46; font-size: 3em;}
.namaste {color: #62951d; font-size: 3em;}
.topcrop { color: #fcab2d; font-size: 3em;}

/* Fin section de pagina Tablas.html */

/* Inicio section sustrato.html */

.container__growmix{
    display: flex;    
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.growmix__video {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.growmix__video video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
}

.growmix__caracteristicas {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.growmix__caracteristicas h1 {
    font-size: 4em;
    color: #95ff00;
}

#nutrientes {    
    font-size: 1.5em;    
    color: #dddddd;
}
#nutrientes li {
    list-style: inside;    
    color: #afe045;
}

.growmix__caracteristicas ul li {
    font-size: 1.5em;
    color: #dddddd;
    padding: 5px;
}


/* Fin section sustrato.html */


/* Container Mapa + Form section de pagina Contacto.html */


/* Mapa */
#mapa iframe {
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px;
    width: 100%;
    height: 300px;
}
/* Mapa */

/* Form */
.container__form-items {
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px;
    text-align: center;   
}

.container__form-items ::placeholder {
    color: #fdfdfd4b;
    padding: 0px 5px;
}

.container__form-items label {
    color: #97b35a;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 5px;
}

.form__caja ::placeholder{
    text-align: center
}

.form__submit {
    padding: 5px;
    margin: 5px;
}
.form__cancel {
    padding: 5px;
    margin: 5px;
}

.form__items {
    padding: 5px 20px;
}
.form__caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
/* Form */

.horarios__img {
    width: 100%;
}
.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img-grid"
    "horarios"
    "mapa"
    "form";
}
.img-grid{grid-area: img-grid;}
.horarios{grid-area: horarios;}
.mapa {grid-area: mapa;}
.form {grid-area: form;}

.horarios__img {
    width: 70%;
    height: 50vh;
    transition: .5s;
    object-fit: fit;
}
.horarios__img:hover {
    transform: scale(1.1);
}

.horarios h3 {
    font-size: 1.7em;
    color: #f1f1f1
}

.horarios ul {
    font-size: 1.5em;
    gap: 10px;
    
}

.horarios__container {    
    display: flex;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
     
}

.horarios {
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7em;
}

.mapa {    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    
}

.mapa iframe {
    width: 200px;
}

.form {
    padding: 10px 20px;
    margin-bottom: 20px;
    
}

.form h2 {
    margin-bottom: 10px;
    color: #afe045;
}

.form p {
    font-size: 1.5em;

}

@media screen and (min-width: 992px) {
    .grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "img-grid img-grid img-grid"
    "horarios horarios form"
    "mapa mapa mapa";
    gap: 20px;
    }

    .form {
        margin-right: 100px;
    }

    .horarios h3 {
        margin-top: 100px;

    }

}



/* Fin section de pagina Contacto.html */



/* Inicio Footer */
footer{ 
    width: 100%;
}

.container__footer {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #172b1a;
    width: 100%;
    min-height: 30px;    
    padding: 5px 5px;
 }

/* Div footer para el h3 de la izquierda*/
.container__footer-titulo h3{       
    display: flex;
    color: #3a552b;
    font-size: 1.2em;
    font-weight: bold;
}

/* Div footer para el p del medio*/
.container__footer-copyright p {    
    display: flex;
    color:#59723d;
    font-size: 1em;
}

/* Div footer para el p+redes de la derecha*/
.container__footer-redes {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container__footer-redes p {
    padding: 5px 5px;    
    color:#849d4f;
    font-size: 1.2em;    
    border-radius: 5px;
    box-shadow: inset #000000 0px 0px 5px 1px;
    border: 1px solid #afe045;
}

.container__footer-redes a {
    width: 25px;
    padding: 5px 5px;
}

.container__footer-redes img {
    width: 100%;
    height: 25px;
}
/* FIN Div footer para el p+redes de la derecha*/

/* Termina Footer */
